<div class="main-container">
    <span id="logo-header">
        Burger
        <img id="burger-pic" src="/assets/img/burger.png" alt="Burger">
        Builder
    </span>
    <h3>Create burgers and devour them if you want.</h3>
    <div class="app-container">
        <div class="burgers-container">
            <div class="uneaten-container">
                Burgers
                <div class="undevoured-burgers">
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{>burgers/burger-block devoured=false}}
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
            <div class="eaten-container">
                Burger Graveyard
                <div class="devoured-burgers">
                    {{#each burgers}}
                    {{#if devoured}}
                    {{>burgers/burger-block devoured=true}}
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>

        <form class="create-form" action="/" method="POST">
            <input id="burger-name" type="text" name="burger"></input>

            <button id="burger-submit" type="submit">Submit</button>
        </form>

    </div>
</div>